// colors
$white : #FFFFFF;
$offWhite : #F1F1F1;

$grayLighter : #DEDEDE;
$grayLight: #B5B5B5;
$gray : #4B4B4B;
$grayDark : #404042;
$grayDarker : #313436;
$grayDarkest: #282828;

$primary : #259D90;
$error : #FF726F;

$borderDark : 1px solid #282828;
$borderLight : 1px solid #616161;

$primaryGradient : linear-gradient(180deg, #259D90 0%, #1D4B46 100%);
$darkGradient : linear-gradient(180deg, #858585 0%, #4E4E4E 100%);

// fontSize
$fsz-title: 36px;
$fsz-large: 24px;
$fsz-medium: 18px;
$fsz-normal: 16px;
$fsz-small: 14px;
$fsz-tiny: 12px;

$maxWidth : 1088px;
