@use '../helpers/variable' as *;
@use '../helpers/mixin' as *;

// select태그를 감싸주는 박스
.select-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    select {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 32px;
        padding: 0 8px;
        background: transparent;
        border: 1px solid $border;
        border-radius: 4px;
        color: $black19;
        font-size: 14px;
        outline: 0;
        transition: all 0.2s;
        appearance: none;

        &:disabled {
            background: $disabled;
            border-color: transparent;
            color: $gray82;
        }
        
        &:focus {
            border-color: $primary;
        }

        &.error {
            border-color: $error;
        }
    }

    i {
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 6px;
        color: $black19;
        font-size: 20px;
        transform: translateY(-50%);
        transition: all 0.2s ease-out;
    }
    select:focus {
        border-color: $primary;

        &+i {
            color: $primary;
            transform: translateY(-50%) rotateX(180deg);
        }
    }

    .error-msg {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 12px;
    }
}
