@charset "UTF-8";

:root {
    --gray: #595959;
    --gray-dark: #4a4a4a;
    --dark: #151515;
    --button-text-normal: #DEDEDE;
    --button-text-hover: #77e8ff;
    --button-text-on: #00c6ea;
    --text : #DEDEDE;
    --button-bg-normal : #565656;
    --button-bg-hover : #4d4d4f;
    --button-bg-hover-tool : #252525;
    --fail : #721c24;
    --scroll-color-handler: #1FB5A9;
}

*{-webkit-text-size-adjust:none;letter-spacing:0.02em;word-break:break-all;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html body, div, ul, li, img, svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    font-family: "Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",Helvetica,sans-serif;
    font-weight:400;
    font-size:14px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color:#b5b5b5;
}
body {
    overflow: hidden;
    line-height: 1;
    background: #747373;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
input:focus {outline: none;}
textarea:focus {outline: none;}
select:focus {outline: none;}
button:focus {outline: none;}

button{border: 0;background: transparent;font-family:"Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",Helvetica,sans-serif;}
button:not(:disabled):not(.disabled){cursor: pointer;}

button:disabled {
    cursor: not-allowed !important;
    background-color: #0a0a0a;
    color: #2A2A2A !important;
}
.a11y-hidden {overflow: hidden;clip:rect(0 0 0 0);clip:rect(0,0,0,0);position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;}

input[type='button'],
input[type='reset'],
input[type='submit'] {-webkit-appearance:button;cursor:pointer;}
button{margin:0;padding:0;border:0;background-color:transparent;}
button:-moz-focus-inner,
input:-moz-focus-inner {border:0;padding:0;}
input[type='number']:-webkit-inner-spin-button,
input[type='number']:-webkit-outer-spin-button {height:auto;}
input[type='search'] {
    -webkit-appearance:none;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-border-radius:2px;
    border-radius:2px;
}
input[type='search']:-webkit-search-cancel-button,
input[type='search']:-webkit-search-decoration {-webkit-appearance:none;}
input[type='file']::-webkit-file-upload-button {cursor:pointer;}
a{text-decoration:none;color:#b5b5b5;}
a:focus {outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input[type="checkbox"]:hover + label:before,
input[type="radio"]:hover + label:before {
    border-color: #999;
}
input[type="checkbox"]:active + label:before,
input[type="radio"]:active + label:before {
    transition-duration: 0;
    filter: brightness(0.2);
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    position: relative;
    padding-left: 26px;
}
input[type="checkbox"] + label:before, input[type="checkbox"] + label:after,
input[type="radio"] + label:before, input[type="radio"] + label:after {
    box-sizing: content-box;
    position: absolute;
    content: '';
    display: block;
    left: 0;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    top: 50%;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    border: 1px solid #898989;
    text-align: center;
    border-radius: 3px;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
    background-color: var(--basic-color);
    top: 50%;
    left: 6px;
    width: 8px;
    height: 8px;
    margin-top: -5px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}

input[type="radio"]:checked + label:before {
    -moz-animation: borderscale 300ms ease-in;
    -webkit-animation: borderscale 300ms ease-in;
    animation: borderscale 300ms ease-in;
    background-color: #fff;
}
input[type="radio"]:checked + label:after {
    transform: scale(1);
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
    border-radius: 50%;
}

input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 5px;
    width: 7px;
    height: 4px;
    margin-top: -5px;
    border-style: solid;
    border-color: #2bb6a8;
    border-width: 0 0 3px 3px;
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}
input[type="checkbox"]:checked + label:before {
    -moz-animation: borderscale 200ms ease-in;
    -webkit-animation: borderscale 200ms ease-in;
    animation: borderscale 200ms ease-in;
}
input[type="checkbox"]:checked + label:after {
    content: '';
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    -moz-transition: -moz-transform 200ms ease-out;
    -o-transition: -o-transform 200ms ease-out;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

input[type="text"]:focus {
    outline: none;
}

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    select::-ms-expand {
        display: none;
    }

    select:focus::-ms-value {
        background: transparent;
        color: grey;
    }
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='tel'],
input[type='email']{width: 100%;height: 30px;color:#b5b5b5;line-height:30px;background:var(--button-bg-normal);border:none;border-radius: 3px;box-sizing:border-box;-webkit-appearance:none;padding:0 8px;}

/* focus시 글자 안보이게 */
input[type='text']:focus::placeholder,
input[type='search']:focus::placeholder,
input[type='password']:focus::placeholder,
input[type='tel']:focus::placeholder,
input[type='email']:focus::placeholder {opacity: 0;}

input[type='text']:hover,
input[type='search']:hover,
input[type='password']:hover,
input[type='tel']:hover,
input[type='email']:hover{background: var(--button-bg-hover) !important;}

input[type='search']:disabled,
input[type='password']:disabled,
input[type='tel']:disabled,
input[type='email']:disabled,
input[type='text']:disabled {background-color:#f6f6f6;color:#acb2b9;}

textarea{width:100%;font-family:"Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",Helvetica,sans-serif;font-size:13px;color: #898989;background:#4d4d4e;padding:10px;border: 0;border-radius: 3px;resize: none;box-sizing: border-box;}

i.placeholder,
i.placeholder {color:#ccc !important;text-align:left;}
i.placeholder.ph-focus,
i.placeholder.ph-focus {display:none !important;}
input[type='text']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{color:#898989;}
input[type='text']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder{color:#898989;}
input[type='text']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder{color:#898989;}
input[type='text']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder{color:#898989;}

/* select{height: 30px;
border-radius: 5px;
font-size: 13px;
width: 100px;
min-width: 90px;
font-weight: 100;
letter-spacing: 0.5px;
background: var(--button-bg-normal);
color: var(--text);
border: none;
cursor: pointer;
text-align-last: center;} */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: var(--button-bg-normal);
    vertical-align:middle;height:30px;line-height: 1;padding-left:8px;padding-right: 26px;width:100%;font-size: 14px;color: #b5b5b5;font-family:'Noto Sans KR',Helvetica,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",Dotum,"돋움",sans-serif;border:none;border-radius:3px;
}

select::-ms-expand {
    display: none;
}
select:hover, button:hover {background-color: var(--button-bg-hover);}
/* select.select-style option:hover{background-color: var(--button-bg-hover) !important;} */
.select-style{position:relative;display: inline-block;min-width: 90px;}
.select-style::after,.dropdown .dropdown-label:before{display: block;content: '';width: 6px;height: 6px;border-bottom: 2px solid #b5b5b5;border-right: 2px solid #b5b5b5;-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);position: absolute;right:10px;top: 10px;}
.mt20{margin-top: 20px !important;}

[class^="btn-m"]{width: 30px;height: 30px;font-size:0;text-indent:-9999px;background: #565656;background-size: 100% auto;border-radius: 4px;}
.btn-m-review{background: #323536 url("../images/icon_review.svg") no-repeat center 0;background-size: 100% auto;}
.btn-m-review:hover{background-color: #333536;background-position: center -30px;background-size: 100% auto;}
.btn-m-review.on{background-color: #252727;background-position: center -60px;background-size: 100% auto;}
.btn-m-reviewDetail{background: #323536 url("../images/icon_reviewDetail.svg") no-repeat center 0;background-size: 100% auto;}
.btn-m-reviewDetail:hover{background-color: #333536;background-position: center -30px;background-size: 100% auto;}
.btn-m-reviewDetail.on{background-color: #252727;background-position: center -60px;background-size: 100% auto;}
.btn-m-tag{background: #323536 url("../images/icon_tag.svg") no-repeat center 0;background-size: 100% auto;}
.btn-m-tag:hover{background-color: #333536;background-position: center -30px;background-size: 100% auto;}
.btn-m-tag.on{background-color: #252727;background-position: center -60px;background-size: 100% auto;}
.btn-m-option{background: #323536 url("../images/icon_option.svg") no-repeat center 0;background-size: 100% auto;}
.btn-m-option:hover{background-color: #333536;background-position: center -30px;background-size: 100% auto;}
.btn-m-option.on{background-color: #252727;background-position: center -60px;background-size: 100% auto;}
.btn-m-className{background: #323536 url("../images/icon_className.svg") no-repeat center 0;background-size: 100% auto;}
.btn-m-className:hover{background-color: #333536;background-position: center -30px;background-size: 100% auto;}
.btn-m-className.on{background-color: #252727;background-position: center -60px;background-size: 100% auto;}
.btn-m-searchOpen{position: relative;}
.btn-m-searchOpen::after{display: block;content: '';width: 6px;height: 6px;border-top: 2px solid #b5b5b5;border-right: 2px solid #b5b5b5;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 0.2s linear;
    position: absolute;right: 11px;top: 11px;
    transform-origin: 4px 4px;
}
.btn-m-searchOpen.on::after,.btn-m-searchOpen:hover::after{
    border-color:#2bb6a8;
}
.btn-m-searchOpen.on::after{

    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    /* position: absolute;right:11px;top: 9px; */
}
.btn-gray{width: 48px !important;height: 30px;color: #dedede;background: #6d6d6d;border-radius: 3px;margin-right: 0 !important;margin-left: 10px;}
.btn-gray:hover{background: #7b7b7b;}

.btn-search, .btn-apply {width: 97px;height: 35px;border-radius: 4px;margin-right: 10px;position: relative;
    background: rgb(43,101,91);
    background: linear-gradient(169deg, rgba(43,101,91,1) 0%, rgba(48,98,89,1) 41%, rgba(76,74,74,1) 50%, rgba(55,53,53,1) 100%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);}
.btn-search > span, .btn-apply > span{display: inline-block;width: 95px;height: 33px;border-radius: 4px;position: absolute;left: 1px;top: 1px;
    background: rgb(43,101,91);
    background: linear-gradient(167deg, rgba(43,101,91,1) 0%, rgba(48,98,89,1) 41%, rgba(38,40,40,1) 50%, rgba(38,40,40,1) 100%);}
.btn-search > span > span, .btn-apply > span > span{display: inline-block;width: 89px;height: 27px;color: #b5b5b5;font-weight: 500;line-height: 25px;background: #294a44;border: 1px solid #269c90;border-radius: 3px;box-sizing: border-box;position: absolute;left: 3px;top: 3px;}
.btn-search > span > span:hover, .btn-apply > span > span:hover {background: #2f544e;}

.btn-reset{width: 97px;height: 35px;border-radius: 4px;position: relative;
    background: rgb(43,101,91);
    background: linear-gradient(169deg, rgba(122,68,70,1) 0%, rgba(100,65,65,1) 41%, rgba(76,74,74,1) 50%, rgba(55,53,53,1) 100%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);}
.btn-reset > span{display: inline-block;width: 95px;height: 33px;border-radius: 4px;position: absolute;left: 1px;top: 1px;
    background: rgb(43,101,91);
    background: linear-gradient(167deg, rgba(122,68,70,1) 0%, rgba(100,65,65,1) 41%, rgba(38,40,40,1) 50%, rgba(38,40,40,1) 100%);}
.btn-reset > span > span{display: inline-block;width: 89px;height: 27px;color: #b5b5b5;font-weight: 500;line-height: 25px;background: #58393a;border: 1px solid #cd6669;border-radius: 3px;box-sizing: border-box;position: absolute;left: 3px;top: 3px;}
.btn-reset > span > span:hover{background: #654243;}

/* pass2 버튼스타일 추가 */
.btn-pass2 {width: 150px;height: 35px;border-radius: 4px;position: relative;
background: rgb(91, 85, 84);
background: linear-gradient(169deg, rgba(91, 85, 84, 1) 0%, rgba(75, 71, 70, 1) 41%, rgba(76,74,74,1) 50%, rgba(55,53,53,1) 100%);
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);}
.btn-pass2 > span{display: inline-block;width: 148px;height: 33px;border-radius: 4px;position: absolute;left: 1px;top: 1px;
background: rgb(91, 85, 84);
background: linear-gradient(167deg, rgba(91, 85, 84, 1) 0%, rgba(75, 71, 70, 1) 41%, rgba(38,40,40,1) 50%, rgba(38,40,40,1) 100%);}
.btn-pass2 > span > span{display: inline-block;width: 142px;height: 27px;color: #b5b5b5;font-weight: 500;line-height: 25px;background: #343636;border: 1px solid #767676;border-radius: 3px;box-sizing: border-box;position: absolute;left: 3px;top: 3px;}
.btn-pass2 > span > span:hover {color: #656565;}

.btn-pass{width: 100%;height: 31px;color: #dedede;font-weight: 500;background: #414142;border: 1px solid #898989;border-radius: 4px;}
.btn-pass:hover{background: #4d4d4e;}
.btn-approve{width: 100%;height: 31px;color: #dedede;font-weight: 500;background: #294a44;border: 1px solid #269c90;border-radius: 4px;}
.btn-approve:hover{background: #2f544e;}
.btn-reject{width: 100%;height: 31px;color: #dedede;font-weight: 500;background: #58393a;border: 1px solid #cd6669;border-radius: 4px;}
.btn-reject:hover{background:#654243;}

.btn-close{width: 18px !important;height: 18px;background: #6d6d6d;text-indent: -9999px;border-radius: 3px;position: absolute;right: -5px;top: 10px;}
.btn-close:hover{background: #797979;}
.btn-close:after,.btn-close:before{display: inline-block;content: '';width: 12px;height: 1px;background-color:#dedede;position: absolute;left: 3px;top: 8px;
    -webkit-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);}
.btn-close:before{
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);}

.dropdown {
    position: relative;
    font-size: 14px;
    color: #b5b5b5;
    display:inline-block;
}
.dropdown .dropdown-list {
    padding:5px 0 12px;
    background: var(--button-bg-normal);
    border: 1px solid #767676;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out 0.15s;
    max-height: 66vh;
    z-index: 20;
    overflow-y: auto;
}
.dropdown-list::-webkit-scrollbar {
    width: 10px;
}
.dropdown-list::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
}
.dropdown-list::-webkit-scrollbar-track {
    background-color: #9c9c9c;
}
.dropdown .dropdown-option {
    display: block;
    padding: 8px 0 8px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}
.dropdown .dropdown-option label{padding-right: 0;}
.dropdown .dropdown-label {
    display: block;
    min-width: 90px;
    height: 30px;
    background: var(--button-bg-normal);
    /* border: 1px solid #ccc;*/
    padding: 0 26px 0 8px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
.dropdown .dropdown-label:hover{
    background: var(--button-bg-hover);
}
/* .dropdown .dropdown-label:before {
    content: '▼';
    float: right;
} */
.dropdown.on .dropdown-list {
    transform: scale(1.03, 1);
    transition-delay: 0s;
}
.dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
    transition-delay: 0.2s;
}
.paging-area [class^="btn-m"]{position: relative;}
.paging-area .btn-m-pre::after,.paging-area .btn-m-first::after,.paging-area .btn-m-first::before,
.paging-area .btn-m-next::after,.paging-area .btn-m-last::before,.paging-area .btn-m-last::after{display: block;content: '';width: 6px;height: 6px;border-top: 1px solid #b5b5b5;border-right: 1px solid #b5b5b5;}
.paging-area .btn-m-pre::after,.paging-area .btn-m-first::after,.paging-area .btn-m-first::before{
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    transition: transform 0.5s linear;
    position: absolute;left:13px;top: 11px;
}
.paging-area .btn-m-first::before{position: absolute;left:16px;top: 11px;}
.paging-area .btn-m-first::after{position: absolute;left:10px;top: 11px;}
.paging-area .btn-m-next::after,.paging-area .btn-m-last::before,.paging-area .btn-m-last::after{display: block;content: '';width: 6px;height: 6px;border-top: 1px solid #b5b5b5;border-right: 1px solid #b5b5b5;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 0.5s linear;
    position: absolute;right:13px;top: 11px;
}
.paging-area .btn-m-last::before{position: absolute;right:16px;top: 11px;}
.paging-area .btn-m-last::after{position: absolute;right:10px;top: 11px;}
/* header */
.header-area{height: 60px;position: relative;z-index: 11;}
.header-area > div{position: fixed;width: 100vw;display:flex;justify-content: space-between;align-items: center;background: #252828;min-width: 600px;border-top: 1px solid #3c3f3f;border-bottom: 1px solid #898989;}
.header-left{display:flex;justify-content:flex-start;align-items: center;padding: 14px 100px 12px 25px;}
.header-left h1{display: block;width: 32px;height: 32px;font-size:0;text-indent:-9999px;margin: 0 15px 0 0;
    flex-shrink: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/logo.svg");
    background-size: contain;
}
.header-right{display: flex;justify-content: flex-end;align-items: center;flex-shrink: 0;padding: 14px 25px 14px 0;}
.header-right [class^="btn"]{margin-left: 10px;}

.title-area{width: 100%;}
.title-area h2{height: 24px;font-size: 16px;color: #dedede;user-select: text;line-height: 1.3;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;position: relative;}
.title-area:hover .title-tooltip{visibility: visible;opacity: 1;transition: visibility 0s linear 0s, opacity 300ms;}
.title-tooltip{visibility: hidden;width:300px;height: auto;font-size: 14px;color: #cacaca;background-color: #565656;border: 1px solid #2bb6a8;line-height: 1.5; border-radius:3px;padding: 5px 10px;position: absolute;left: 75px;top: 42px;user-select: text;opacity: 0;transition: visibility 0s linear 300ms, opacity 300ms;box-shadow:0 0 10px rgb(0 0 0 / 20%);}

/* search */
.search-area{height: 60px;position: relative;z-index: 10;}
.search-area > div{position: fixed;width: 100vw;display: flex;background: #323536;border-bottom: 1px solid #898989;}
.search-left{flex-shrink: 0;flex-grow: 1;}
.search-right{flex-shrink: 0;width: 260px;padding: 12px 25px;text-align: center;border-left: 1px solid #434647;box-sizing: border-box;}

.search-left > div{display: flex;justify-content: flex-start;align-items: center;padding: 15px 30px;}
.search-left .search-option{padding: 0 15px 15px 60px;}

.form-item{padding-left: 20px;}
.form-item label{display:inline-block;color: #898989;padding-right: 10px;}

/* multi-search-area */
.multi-search-area {display: flex;align-items: center;}
.multi-search-area .multi-search {display: inline-block;width: 200px;height: 30px;position: relative;}
.multi-search-area .multi-search textarea {width: 100%;height: 30px;color: #b5b5b5;padding: 2px 10px;line-height: 26px;border: 0;
  position: absolute;top: 0;left: 0;transition: height .6s;background-attachment: local;
  background-image: linear-gradient(to right, var(--button-bg-normal) 10px, transparent 10px), linear-gradient(to left, var(--button-bg-normal) 10px, transparent 10px),
  repeating-linear-gradient(var(--button-bg-normal), var(--button-bg-normal) 25px, var(--button-bg-normal) 25px, #9c9c9c 26px, var(--button-bg-normal) 26px);}
.multi-search-area .multi-search textarea.on {height: 81px;transition: height .6s;}

.multi-search-area button {width: 24px;height: 24px;margin-left: 5px;border: 1px solid #b5b5b5;border-radius: 3px;position: relative;box-sizing: border-box;}
.multi-search-area button::after  {content: '';display: inline-block;width: 12px;height: 2px;position: absolute;top: 10px;left: 5px;background: #b5b5b5;transform: rotate(0deg);transition: all .6s;}
.multi-search-area button::before {content: '';display: inline-block;width: 12px;height: 2px;position: absolute;top: 10px;left: 5px;background: #b5b5b5;transform: rotate(90deg);transition: all .6s;}
.multi-search-area button.on::after {transform: rotate(180deg);transition: all .6s;}
.multi-search-area button.on::before {transform: rotate(180deg);transition: all .6s;}

.multi-search textarea::-webkit-scrollbar {width: 5px;}
.multi-search textarea::-webkit-scrollbar-thumb {background-color: #d0d0d0;}
.multi-search textarea::-webkit-scrollbar-track {background-color: #9c9c9c;}

/* body */
.body-area{display: flex;height:calc(100vh - 181px);}
.body-left{flex-shrink: 0;flex-grow: 1;width: calc(100vw - 310px);overflow-y: scroll;}
.body-left::-webkit-scrollbar {
    width: 10px;
}
.body-left::-webkit-scrollbar-thumb{
    background-color: #d0d0d0;
}
.body-left::-webkit-scrollbar-track{
    background-color: #9c9c9c;
}
.data-list{display:flex;justify-content: flex-start;flex-wrap: wrap;padding: 5px 0 0 5px;}
.data-list li{margin: 0 5px 5px 0;}
.data-list li > div{position: relative;background-color: #cdcdcd;
    border: 3px solid #000;
    border-radius: 3px;}
.data-list li div.check-area{position: absolute;left: 13px;top: 13px;z-index: 1;}
.data-list li div.img-area{position: relative;
    width: 100%;
    height: 100%;
}
.data-list li div.img-area img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.size_400 .data-box,.size_400 .data-box label > div{width: 400px;height: 400px;}
.size_800 .data-box,.size_800 .data-box label > div{width: 800px;height: 800px;}
.size_1600 .data-box,.size_1600 .data-box label > div{width: 1600px;height: 1600px;}

.data-box input[type="checkbox"] + label:before,
.data-box input[type="radio"] + label:before {
    width: 24px;
    height: 24px;
}
.data-box input[type="checkbox"] + label:after,
.data-box input[type="radio"] + label:after {
    top: 50%;
    left: 6px;
    width: 11px;
    height: 7px;
    margin-top: -4px;

}
/* data-box 내 div 제거 */
.data-box label > div {position: absolute;left: -16px;top: -13px;}
.data-box.on {border-color: #2bb6a8 !important;}
/* .data-box.on input[type="checkbox"] + label > div{border-style: dashed;} */
/* object check 추가 211213 */
.data-box.object-check{border-color: #ae1ac1 !important;position: relative;}
.data-box.object-check::after{display: inline-block;content: '';width: 0;
    height: 0;
    border-top: 20px solid #ae1ac1;
    border-left: 20px solid transparent;
    position: absolute;right: 0;top: 0;
}
.form-item input[type="checkbox"] + label,
.form-item input[type="radio"] + label{
  padding-left: 35px;
}
.form-item input[type="checkbox"] + label:before,
.form-item input[type="radio"] + label:before{
  width: 24px;
  height: 24px;
  margin-top: -13px;
}
.form-item input[type="checkbox"] + label:after,
.form-item input[type="radio"] + label:after{
  top: 50%;
  left: 6px;
  width: 11px;
  height: 7px;
  margin-top: -7px;
}

.data-list li.status_review_assigned .data-box {background: #595959;border-color: #8b8a37;}
.data-list li.status_review_assigned .data-box:hover {border-color: #acab2f;}
.data-list li.status_review_pass .data-box {background: #595959;border-color: #366892;}
.data-list li.status_review_pass .data-box:hover {border-color: #4987bb;}
.data-list li.status_review_fail .data-box {background: #595959;border-color: #c11a2a;}
.data-list li.status_review_fail .data-box:hover {border-color: #e42d3f;}

.data-option{width: 50px;height: 30px;color: #fff;line-height: 30px;text-align: center;position: absolute;right: 10px;bottom: 10px;}
[data-option="1"]{background: #2f544e;border: 1px solid #269c90;}
[data-option="2"]{background: #654243;border: 1px solid #cd6669;}

.body-right{flex-shrink: 0;display: flex;flex-direction: column;justify-content: flex-start;width: 300px;height:calc(100vh - 181px);background: #323536;padding: 0 5px;}
.body-right h3{display: flex;justify-content: center;align-items: center;color: #b5b5b5;font-weight: 700;margin-top: 16px;margin-bottom: 13px;}
.data-info{flex-shrink: 0;display: flex;flex-direction: column;justify-content: flex-end;height: auto;background: #414142;margin-bottom: 5px;padding: 0 24px;box-sizing: border-box;overflow: hidden;transition: all .6s;}
.data-info ul{display: none;flex-grow: 1;flex-direction: column;justify-content:space-between;padding: 18px 0 9px;}
.data-info.on ul {display: flex;}
.data-info li{display: flex; justify-content: flex-start; font-size: 13px;color: #898989;line-height: 1.3;padding-left: 15px;margin: 3px 0;position: relative;}
.data-info li > strong{display: block;flex-shrink: 0;}
.data-info li > span{display: block;padding-left: 5px;}
.data-info li span strong{color: #2bb6a8;}
.data-info li::after,.reject-area p::after{display: block;content: '';width: 4px;height: 4px;background: #b5b5b5;border-radius: 50%;position: absolute;left: 0;top: 6px;}
.data-info .btn-area{flex-shrink: 0;}

.data-info-btn {position: relative;text-indent: -9999px;font-size: 0;width: 20px;height: 20px;margin-left: 10px;border: 1px solid #b5b5b5;border-radius: 3px;}
.data-info-btn::before {content: '';display: inline-block;width: 10px;height: 2px;position: absolute;top: 50%;left: 50%;margin-top: -1px;margin-left: -5px;background: #b5b5b5;transform: rotate(90deg);transition: all .6s;}
.data-info-btn::after {content: '';display: inline-block;width: 10px;height: 2px;position: absolute;top: 50%;left: 50%;margin-top: -1px;margin-left: -5px;background: #b5b5b5;transform: rotate(0deg);transition: all .6s;}
.data-info-btn.on::before {transform: rotate(180deg);}
.data-info-btn.on::after {transform: rotate(180deg);}

.btn-area .btn-reject{margin-top: 9px;}

.reject-area{background: #414142;overflow-y: scroll;padding: 20px 19px 20px 24px;overflow-y: scroll;}
.reject-area::-webkit-scrollbar {
    width: 5px;
}
.reject-area::-webkit-scrollbar-thumb {
    background-color: var(--button-bg-normal);
}
.reject-area::-webkit-scrollbar-track {
    background-color: #414142;
}
.reject-area.error-code{flex-shrink: 0;margin-bottom: 5px;}
.reject-area p{font-size: 13px;color: #898989;line-height: 1.5;padding-left: 15px;position: relative;margin-bottom: 20px;}
.reject-area h4{color: #2bb6a8;margin-bottom: 10px;}
.reject-area ul{margin-bottom: 20px;}
.reject-area li{display: flex;align-items: center;min-height: 28px;font-size: 13px;color: #898989;background: #4d4d4e;margin-bottom: 1px;padding-left: 32px;}
.reject-area li > strong{padding-right: 3px;}
.reject-area li > span{padding-left: 3px;}
.tag-color{color: #2bb6a8;}
.reject-area li input[type="checkbox"] + label,.reject-area li input[type="radio"] + label{padding-left: 30px;}
.reject-area textarea{margin-bottom: 20px;}
.reject-area textarea::-webkit-scrollbar {
    width: 5px;
}
.reject-area textarea::-webkit-scrollbar-thumb{
    background-color: #585858;
}
.reject-area textarea::-webkit-scrollbar-track{
    background-color: #4d4d4e;
}
.object-area ul{margin-bottom: 0;}
.object-area li{flex-direction: column;min-height: 28px;padding-left: 0;}
.object-area li strong,.object-area li div{width: 100%;height: 28px;line-height: 28px;border-top: 1px solid #414142;padding-left: 32px;box-sizing: border-box;}
.object-area li strong{border-top: 0;}
.object-area li div{position: relative;padding-left: 60px;}
.object-area li div::after{display: block;content: '';width: 5px;height: 6px;border-left: 1px solid #898989;border-bottom: 1px solid #898989;position: absolute;left: 48px;top: 8px;}

/* footer */
.footer-area{width: 100vw;position: fixed;display:flex;justify-content: space-between;align-items: center;height:61px;color: #b5b5b5;background: #252828;border-top: 1px solid #898989;box-sizing: border-box;z-index: 10;}
.footer-left{height: 100%;flex-shrink: 0;padding: 0 30px;display:flex;justify-content: flex-start;align-items: center;border-right: 1px solid #393b3b;}
.search-result{display:flex;justify-content: flex-start;align-items: center;white-space: nowrap;padding-left: 10px;}
.footer-center{flex-shrink: 0;flex-grow: 1;display:flex;justify-content: flex-start;align-items: center;padding: 0 30px;}
.footer-center-left{flex-shrink: 0;display:flex;justify-content: flex-start;align-items: center;position: relative;}
.footer-center-right{flex-grow: 1;padding-left: 20px;}
.footer-right{height: 100%;flex-shrink: 0;display:flex;align-items: center;padding: 0 30px;border-left: 1px solid #393b3b;}
.footer-right .btn-pass{width: 150px;}

.footer-center-left [class^="btn-"]{width: 100px;margin-right: 10px;}
.point-color{color: #2bb6a8;}
.btn-pass{width: 100px;}

.paging-area{display: flex;justify-content: center;align-items: center;}
.paging-area [class^="btn-m"],.paging-area .select-style{margin: 0 3px;}
.paging-area .select-style{min-width: 60px;}
.paging-area .select-style select{text-align-last: center;text-align: center;-ms-text-align-last: center;-moz-text-align-last: center;}

.modal-fail{display: none; width: 250px;min-height: 150px;background: #4b4b4b; position: absolute;left: 220px;bottom: 46px;border:2px solid #c11a2a;border-radius: 4px;padding: 10px 5px 0;}
.modal-fail textarea{color: #b5b5b5;background: #6d6d6d;}
.modal-fail-header{margin-bottom: 15px;}
.modal-fail-bottom{text-align: right;padding: 10px 5px;}

.ui-widget.ui-widget-content{color: #cacaca;background-color: #565656;border: 1px solid #2bb6a8;line-height: 1.3;}
/* .ui-tooltip-content{word-break: keep-all;} */

.tooltipin.hotkey {
    margin-left: 7px;
    border-left: 1px solid #2bb6a8;
    padding-left: 7px;
}



button.btn-m-guide {
    color: #D3676C;
    width: 28px;
    height: 28px;
    margin-left: 15px;
    font-size: 28px;
}

#guide-modal {
	width: 925px;
    background: #4b4b4b;
}
.layer-popUp-wrap {
	position: fixed;
    background: #313436;
    z-index: 98;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    font-size: 12px;
}
.layer-popUp-wrap .popUp-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #404042;
    padding: 5px 7px 5px 10px;
    cursor: move;
    font-weight: bold;
}
.layer-popUp-wrap .popUp-header .icon {
    width: 24px;
    height: 24px;
    background-position-y: -48px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.layer-popUp-wrap .popUp-header .popupHeaderText {
    position: absolute;
    left: 40px;
    top: 7px;
    margin-top: 3px;
}
.layer-popUp-wrap .popUp-body {
    font-weight: 300;
    color: #c1c1c1;
    padding: 10px 10px;
}
.layer-table-type02 tr {
    height: 30px;
}

.layer-popUp-wrap .ui-widget-content {
    background: #292929;
    border: none !important;
}
.ui-widget-content {
    color: #c3c3c3;
}
.layer-popUp-wrap .ui-slider-handle {
    background-color: #6D6D6D !important;
    border: none;
    margin-top: 1px;
    cursor: e-resize;
    outline: 0;
}
.layer-popUp-wrap .ui-widget-header {
    background: #5A5A5A;
}

#popMessageHistory {
    height: 200px;
    width: 350px;
}
#guide-modal .popUp-header {
    display: flex;
    align-items: center;
    height: 24px;
}
.guide-area img {
    width: 100%;
}
.material-icons {
	font-size: 16px;
	color: #898989;
}
.material-icons.on {
    color: #2bb6a8;
}
#guide-modal .popUp-header .popupHeaderText {
    left: 33px;
    top: 6px;
}
.fontSize_12 {
	font-size: 12px;
}
#guide-modal .modal-body {
    margin: 20px auto 0;
    width: 98%;
}
#guide-modal .img-wrap {
    max-height: calc(100vh - 90px);
}
.modal button:hover, .layer-popUp-wrap button:hover {
	background-color: #3a3a3a;
	color: #2bb6a8;
}

.guide-area{height: 540px;border:1px solid #898989;overflow-y: scroll;}
.guide-area img{width: 100%;}
.guide-bottom{display: flex;justify-content: flex-start;align-items: center;padding: 10px 0;}
.btn-download{width: 150px;height: 31px;font-size: 14px;color: #dedede;font-weight: 500;line-height: 29px;background: #414142;border: 1px solid #898989;border-radius: 4px;margin-left: auto;padding-left: 25px;position: relative;}
.btn-download::after{display: inline-block;content: '';width: 26px;height: 26px;background: url(/images/tool/annImage/icon_tool.png) no-repeat -26px 2px;position: absolute;left: 18px;top: 1px;}
.btn-download:hover:not(:disabled){color: #dedede;background: #4d4d4e !important;}
.btn-download:disabled{color: #515152;border-color: #414142;background: #414142;}
.btn-download:disabled::after{background-position: 4px 2px;}
.file-text{padding-left: 35px;position: relative;}
.file-text::after{display: inline-block;content: '';width: 26px;height: 26px;background: url(/images/tool/annImage/icon_tool.png) no-repeat -118px 2px;position: absolute;left: 0;top: -5px;}
.attachment-file{width: 100%;height: calc(100% - 40px);display: flex;justify-content: center;align-items: center;}
.attachment-file p{font-size: 18px;color: #898989;line-height: 1.5;padding-top: 100px;position: relative;}
.attachment-file p::after{display: block;content: '';width: 100px;height: 80px;background: url(/images/tool/annImage/bg_file.png) no-repeat center center;position: absolute;left: 50%;top: 0;margin-left: -50px;}

.task-info{display: flex;justify-content: space-between;border: 1px solid #898989;border-bottom: 0;background: #898989;}
.task-info > div{display: flex;padding: 0 30px;justify-content: space-between;align-items: center;width: calc((100% - 2px) / 3);height: 44px;background: #606060;font-size: 12px;border-right: 1px solid #898989;}
.task-info > div:last-child{border-right: 0;}
.task-info > div > strong{font-size: 14px !important;color: #2bb6a8;font-weight: 700;margin-right: 10px; align-items: center;}
.task-info > div > span{display: block;font-size: 12px;color: var(--nav-font);line-height: 1.3;padding-left: 2px;}
.task-info > div > span.reward{font-size: 14px;font-weight: 700;padding-left: 23px;position: relative;}
.task-info > div > span.reward::after{display: block;content: '';width: 20px;height: 20px;background: url(/images/icon_tool.png) no-repeat -157px -1px;position: absolute;top: 0;left: 0;}
.btn-info{display: inline-block;width: 18px;height: 18px;text-indent: -9999px;background: #2bb6a8;border-radius:50%;position: relative;}
.btn-info::after{display: flex;justify-content: center;align-items: center;content: '?';width: 16px;height: 16px;color: #fff;font-weight: 400;text-indent: initial;position: absolute;left: 0;top: 0;}
.tooltip2{position:relative;display: inline-block;margin: auto;}
.tooltip2 .tooltip-con{visibility: hidden;width: 240px;font-size: 12px;color: #cdcdcd;font-weight: 400;line-height: 1.5;letter-spacing: -0.05em;background:#767676;border:2px solid #2bb6a8;border-radius:3px;padding: 5px 10px;position: absolute;left: 0;top: 36px;z-index: 1;text-align: left;transition: opacity .15s linear;}
.tooltip2 .tooltip-con::after{display: block;content:'';width: 0;height: 0;border-top:0;border-left: 0;border-bottom: 13px solid #2bb6a8;border-right: 10px solid transparent;position: absolute;left: 8px;top: -15px;}
.tooltip2.left .tooltip-con{width:330px;left: -310px;top: 36px;}
.tooltip2.left .tooltip-con::after{display: block;content:'';width: 0;height: 0;border-top:0;border-right: 0;border-bottom: 13px solid #2bb6a8;border-left: 10px solid transparent;position: absolute;left: 307px;top: -15px;}
.tooltip2:hover .tooltip-con{visibility: visible;}
.tooltip2 .tooltip-con p{position: relative;color: #cdcdcd;padding-left: 5px;}
.tooltip2 .tooltip-con p::after{display: inline-block;content: '∙';width: 4px;height: 16px;color: var(--text);position: absolute;left: -1px;top: -1px;text-indent: initial;text-align: center;}

.guide-area::-webkit-scrollbar,
.chat-send textarea::-webkit-scrollbar{
    width: 6px;
}
.chat-body::-webkit-scrollbar-thumb,
.guide-area::-webkit-scrollbar-thumb,
.chat-send textarea::-webkit-scrollbar-thumb{
    background-color: var(--scroll-color-handler);
}
.chat-body::-webkit-scrollbar-track,
.guide-area::-webkit-scrollbar-track,
.chat-send textarea::-webkit-scrollbar-track{
    background-color: #989898;
}

/* object check tool */
/* .object .search-left{flex-grow: 0;} */
.object .search-left > div > .form-item:nth-of-type(1){padding-left: 0;}
.body-area{display: flex;height:calc(100vh - 181px);}
.body-left-object{flex-shrink: 0;display: flex;flex-direction: column;justify-content: flex-start;width: 300px;height:calc(100vh - 181px);background: #323536;padding-left: 5px;overflow-y: auto;}
.body-left-object h3{color: #b5b5b5;font-weight: 700;text-align: center;margin-top: 16px;margin-bottom: 13px;}
.body-right-object{flex-shrink: 0;flex-grow: 1;width: calc(100vw - 310px);overflow-y: scroll;}

.body-left-object::-webkit-scrollbar {width: 4px;}
.body-left-object::-webkit-scrollbar-thumb {background-color: #d0d0d0;}
.body-left-object::-webkit-scrollbar-track {background-color: #9c9c9c;}

.body-right-object::-webkit-scrollbar {width: 10px;}
.body-right-object::-webkit-scrollbar-thumb {background-color: #d0d0d0;}
.body-right-object::-webkit-scrollbar-track {background-color: #9c9c9c;}
.pl-0{padding-left: 0 !important;}

.tag-select::-webkit-scrollbar,
.tag-list::-webkit-scrollbar,
.class-select::-webkit-scrollbar {
    width: 4px;
}
.tag-select::-webkit-scrollbar-thumb,
.tag-list::-webkit-scrollbar-thumb,
.class-select::-webkit-scrollbar-thumb {
    background-color: #2bb6a8;
}
.tag-select::-webkit-scrollbar-track,
.tag-list::-webkit-scrollbar-track,
.class-select::-webkit-scrollbar-track {
    background-color: transparent;
}
.tag-select-area{height: 250px;background: #414142;margin-bottom: 5px;}
.tag-select-area h4{height: 32px;font-size: 11px;border-bottom: 1px solid #4d4d4e;padding: 9px 25px;box-sizing: border-box;}
.tag-select-area > div{padding: 15px 25px;position: relative;}
.tag-select-area > div .select-style{width: 100%;}
.tag-select{height: 144px;margin-top: 15px;padding: 0 4px 0 8px;overflow-y: scroll;}
.tag-select > ul{height: calc(100% - 28px);}
.tag-select li{height: 28px;border-radius: 4px;background: var(--button-bg-normal);border: 1px solid #4d4d4e;padding: 0 10px; margin-bottom: 1px;box-sizing: border-box;position: relative;}
.tag-select li:hover{background: var(--button-bg-hover);cursor: pointer;}
.tag-select li.active{border-color: #8b8a37;pointer-events: none;}
.tag-select li div{display: inline;height: 26px;font-size: 11px;color: #898989;user-select: text;line-height: 24px;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.ui-tooltip.tag-tooltip{font-size: 12px;width: 210px;border-radius: 3px;padding: 6px 8px;}

.tag-list-area{flex-grow: 1;background: #414142;padding: 15px 25px;margin-bottom: 5px;}
.tag-list-area > div{padding: 0 4px 0 8px;margin-bottom: 15px;position: relative;}
.tag-list-area li{height: 28px;font-size: 11px;color: #898989;line-height: 26px;border-radius: 4px;background: var(--button-bg-normal);border: 1px solid #8b8a37;padding: 0 25px 0 10px; margin-bottom: 1px;box-sizing: border-box;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;position: relative;}
.tag-list-area li .btn-del{width: 18px;height: 18px;background: #777;border-radius: 3px;font-size: 0;text-indent: -999em;position: absolute;right: 5px;top: 4px;}
.tag-list-area li .btn-del::before,.tag-list-area li .btn-del::after{display: block;content: '';width: 14px;height: 2px;background: #b5b5b5;position: absolute;left: 2px;top: 8px;transform: rotate(45deg);}
.tag-list-area li .btn-del::after{transform: rotate(315deg);}
.tag-list{max-height: calc(100vh - 560px); overflow-y: scroll;}

/* 220120 custom select 추가 */
.selectbox-ul{display: inline-block;}
.selectbox-ul .box{display: inline-block;position: relative;width: 100%;}
.selectbox-ul .box .list {width: max-content;min-width: 118px;max-height: 400px;padding:5px 0;background: var(--button-bg-normal);border: 1px solid #767676;position: absolute;top: 30px;left: 3px;right: 2px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);transform-origin: 50% 0;transform: scale(1, 0);transition: transform 0.15s ease-in-out 0.15s;z-index: 20;overflow-y: scroll;}
.selectbox-ul.on .box .list {transform: scale(1.03, 1);transition-delay: 0s;}
.selectbox-ul .box .list::-webkit-scrollbar{width: 5px;}
.selectbox-ul .box .list::-webkit-scrollbar-track{background-color: var(--button-bg-normal);}
.selectbox-ul .box .list::-webkit-scrollbar-thumb{background-color: #414142;}
.selectbox-ul .box .list > li {box-sizing: border-box;padding: 0 16px 0 8px;width: 100%;height: 24px;line-height: 24px;cursor: pointer;opacity: 0;transition: opacity 0.15s ease-in-out;}
.selectbox-ul.on .box .list > li{opacity: 1;transition-delay: 0.2s;}
.selectbox-ul .box .list > li:hover {background-color: #656565;}
.selectbox-ul .box .select {display: block;min-width: 90px;height: 30px;background: var(--button-bg-normal);padding: 0 26px 0 8px;line-height: 30px;border-radius: 3px;cursor: pointer;}
.selectbox-ul .box .select:hover{background: var(--button-bg-hover);}
.selectbox-ul .box .select:before{display: block;content: '';width: 6px;height: 6px;border-bottom: 2px solid #b5b5b5;border-right: 2px solid #b5b5b5;-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);position: absolute;right:10px;top: 10px;}

/* 220311 classCheckTool 추가 */
.image-filter-area, .class-select-area {padding: 20px 19px 20px 24px;background: #414142;margin-bottom: 5px;}
.image-filter-area h4, .class-select-area h4 {color: #2bb6a8;margin-bottom: 10px;}
.class-select-area h4 span {margin-left: 10px;color: #898989;font-size: 12px;}
.image-filter-area label, .class-select-area label {cursor: pointer;}
.image-filter-area .view-select {display: flex;justify-content: space-evenly;align-items: center;background: #4d4d4e;margin-bottom: 10px;border-radius: 3px;}
.image-filter-area .view-select li {padding: 10px 0;}
.image-filter-area .view-select li:nth-child(1) label {color: #ffe100;}
.image-filter-area .view-select li:nth-child(2) label {color: #42ff00;}
.image-filter-area .case-select {padding: 10px 0;background: #4d4d4e;}
.image-filter-area .case-select li {line-height: 20px;margin-bottom: 5px;text-indent: 12px;}
.image-filter-area .case-select li:last-child {margin-bottom: 0;}
.image-filter-area .case-select li:nth-child(1) label {color: #fe9a9a;}
.image-filter-area .case-select li:nth-child(2) label {color: #b49afe;}
.image-filter-area .case-select li:nth-child(3) label {color: #9ad2fe;}
.image-filter-area .case-select li:nth-child(4) label {color: #e7e6e6;}
.class-select-area input[type="checkbox"] + label {display: inline-block;width: 200px;padding-left: 26px;text-indent: 0;}
.class-select-area .input-area {margin-bottom: 10px;}
.class-select-area .class-select {max-height: 255px;overflow-y: auto;background: #4d4d4e;border-radius: 3px;}
.class-select-area .class-select button {color: #b5b5b5;}
.class-select-area .class-select button:hover {background: transparent;}
.class-select-area .class-select li {line-height: 20px;margin-bottom: 5px;text-indent: 12px;}
.class-select-area .class-select li:first-child {padding-top: 5px;}
.class-select-area .btn-wrap {display: flex;justify-content: center;padding: 0;padding-top: 20px;}
.class-select-area .btn-wrap .btn-apply {margin: 0;}

.btn_magnifying_glass {display: inline-block;width: 20px;height: 20px;position: absolute;z-index: 2;top: 6px;right: 6px;background: url(../images/icon_magnifying_glass.svg) no-repeat;cursor: pointer;background-size: cover;}
.btn_magnifying_glass:hover {background-color: transparent;background-position-y: -20px;}
.class-name-area {display: none;align-items: center;position: absolute;z-index: 1;bottom: 0;left: 0;width: 100%;height: 40px;background: rgba(0, 0, 0, .5);color: #b5b5b5;}
.class-name-area.on {display: flex;}
.class-name-area li {position: relative;margin: 0;width: 50%;padding: 0 20px 0 40px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.class-name-area li::before {content: '';display: inline-block;width: 10px;height: 10px;position: absolute;top: 50%;left: 20px;margin-top: -5px;border-radius: 3px;}
.class-name-area li:nth-child(1):before {background: #ffe100;}
.class-name-area li:nth-child(2):before {background: #42ff00;}

.tooltip-area {display: flex;position: absolute;z-index: 2;top: 0;left: 0;padding: 10px;background: #515151;border: 1px solid #2bb6a8;border-radius: 3px;visibility: hidden;opacity: 0;transition: opacity .3s;}
.data-box:hover .tooltip-area {visibility: visible;opacity: 1;}
.tooltip-area .worker-ai {width: 180px;padding: 0 10px;}
.tooltip-area .worker-ai h5 {position: relative;padding: 10px 0;font-size: 18px;text-indent: 20px;}
.tooltip-area .worker-ai h5:nth-child(1) {color: #ffe100;}
.tooltip-area .worker-ai h5:nth-child(3) {color: #42ff00;}
.tooltip-area .worker-ai h5::before {content: '';display: inline-block;width: 10px;height: 10px;position: absolute;top: 50%;left: 0;margin-top: -5px;border-radius: 3px;}
.tooltip-area .worker-ai h5:nth-child(1)::before {background: #ffe100;}
.tooltip-area .worker-ai h5:nth-child(3)::before {background: #42ff00;}
.tooltip-area .worker-ai ul {margin-bottom: 10px;}
.tooltip-area .worker-ai ul li {font-size: 14px;margin: 0;margin-bottom: 10px;}
.tooltip-area .worker-ai ul li span {display: inline-block;max-width: 120px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tooltip-area .worker-ai ul:nth-child(2) li:nth-child(2) span {color: #42ff00;}
.tooltip-area .worker-ai ul:nth-child(4) li:nth-child(2) span {color: #ffe100;}
.tooltip-area .iou {display: flex;flex-direction: column;justify-content: center;align-items: center;width: 80px;margin: 10px 0;background: #606060;border-radius: 3px;}
.tooltip-area .iou h5 {font-size: 14px;margin-bottom: 10px;}
.tooltip-area .iou span {font-size: 18px;font-weight: bold;}
.tooltip-area .iou span > span {font-size: 14px;font-weight: normal;}

/* classCheckTool에서 case check시 테두리 변화 */
.data-list li.class-error .data-box {background: #595959;border-color: #fe9a9a;}
.data-list li.class-error .data-box:hover {border-color: #fe9a9a;}
.data-list li.process-error .data-box {background: #595959;border-color: #b49afe;}
.data-list li.process-error .data-box:hover {border-color: #b49afe;}
.data-list li.process-omission .data-box {background: #595959;border-color: #9ad2fe;}
.data-list li.process-omission .data-box:hover {border-color: #9ad2fe;}

/* classCheckTool popup */
#imageDetail-modal {width: 660px;background: #4b4b4b;display: block;top: 50%;left: 50%;margin-top: -485px;margin-left: -430px;}
#imageDetail-modal .popUp-header {align-items: center;}
#imageDetail-modal .popUp-header h3 {display: flex;align-items: center;}
#imageDetail-modal .popUp-header h3::before {content: '';display: inline-block;width: 16px;height: 16px;margin-right: 6px;background: url(../images/icon_magnifying_glass.svg) no-repeat;background-size: cover;background-position-y: -16px;}
#imageDetail-modal .popUp-body {padding: 30px;}
#imageDetail-modal .popUp-body .object-select {display: flex;align-items: center;height: 20px;padding: 8px 10px;background: #606060;border: 1px solid #898989;}
#imageDetail-modal .popUp-body .object-select li {margin-right: 10px;}
#imageDetail-modal .popUp-body .object-select li:nth-child(1) label {color: #ffe100;cursor: pointer;}
#imageDetail-modal .popUp-body .object-select li:nth-child(2) label {color: #42ff00;cursor: pointer;}
#imageDetail-modal .popUp-body .object-select li:nth-child(1) input[type="checkbox"] + label:after {border-color: #ffe100;}
#imageDetail-modal .popUp-body .object-select li:nth-child(2) input[type="checkbox"] + label:after {border-color: #42ff00;}
#imageDetail-modal .popUp-body .img-box {display: flex;justify-content: center;align-items: center;width: 600px;height: 600px;position: relative;border: 1px solid #898989;border-top: 0;box-sizing: border-box;}
#imageDetail-modal .popUp-body .img-box .img-area {width: 100%;}
#imageDetail-modal .popUp-body .img-box .img-area:hover .tooltip-area {visibility: visible;opacity: 1;}
#imageDetail-modal .popUp-body .img-box .img-area img {width: 100%;}
#imageDetail-modal .popUp-body .file-name {display: flex;align-items: center;padding: 10px 0;line-height: 16px;}
#imageDetail-modal .popUp-body .file-name span {margin-left: 5px;}